.backgroundOanTuXi {
    background-image: url(../../../public/img/gameOanTuXi/bgGameOanTuXi.png);
    width: 100%;
    height: 100%;
    position: fixed;
    background-size: cover;
}
.speech-bubble {
    position: relative;
    background: #45d994;
    border-radius: 0.4em;
    height: 100px;
}

.speech-bubble:after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 50%;
    width: 0;
    height: 0;
    border: 35px solid transparent;
    border-top-color: #45d994;
    border-bottom: 0;
    border-left: 0;
    margin-left: -17.5px;
    margin-bottom: -35px;
}
